/**
 * FileName: app.js
 * @author: Md Mamunur Rahman
 * website: http://comp125-s2016-midterm-300872772.azurewebsites.net
 * @description: This file is the custome style sheet file for this web site
 */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}
